absl-py==2.1.0
aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
altair==5.3.0
amqp==5.2.0
annotated-types==0.7.0
anyio==4.4.0
argbind==0.3.9
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
astroid==2.9.3
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
asyncio==3.4.3
attrs==23.1.0
audioread==3.0.1
autopep8==1.6.0
Babel==2.15.0
beautifulsoup4==4.12.3
bidict==0.23.1
billiard==4.2.0
bleach==6.1.0
blinker==1.7.0
boto3==1.28.52
botocore==1.31.52
celery==5.3.4
certifi==2023.5.7
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.4
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
dj-database-url==2.1.0
Django==4.2.6
django-environ==0.11.2
django-heroku==0.3.1
dnspython==2.6.1
docstring_parser==0.16
duckdb==1.0.0
einops==0.8.0
email_validator==2.2.0
environ==1.0
eventlet==0.37.0
exceptiongroup==1.1.3
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.20.0
ffmpy==0.3.2
filelock==3.12.0
fire==0.6.0
Flask==3.0.0
Flask-SocketIO==5.4.1
flatten-dict==0.4.2
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2024.6.0
future==1.0.0
gradio==3.50.2
gradio_client==0.6.1
greenlet==3.1.1
grpcio==1.64.1
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.4
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
intel-openmp==2021.4.0
ipykernel==6.29.4
ipython==8.17.2
ipywidgets==8.1.3
isoduration==20.11.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
julius==0.2.7
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
kiwisolver==1.4.5
kombu==5.3.3
lazy-object-proxy==1.7.1
lazy_loader==0.4
librosa==0.10.2.post1
libusb==1.0.26b5
llvmlite==0.43.0
loralib==0.1.2
Markdown==3.6
markdown-it-py==3.0.0
markdown2==2.4.13
MarkupSafe==2.1.3
matplotlib==3.9.0
matplotlib-inline==0.1.6
mccabe==0.6.1
mdurl==0.1.2
mistune==3.0.2
mkl==2021.4.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.4
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.2.1
notebook_shim==0.2.4
numba==0.60.0
numpy==1.23.4
opencv-python==4.9.0.80
orjson==3.10.5
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.3
pexpect==4.8.0
Pillow==10.1.0
pipenv==2023.6.2
pkg-about==1.0.8
platformdirs==3.5.1
pluggy==1.5.0
pooch==1.8.2
prometheus_client==0.20.0
prompt-toolkit==3.0.39
protobuf==3.19.6
psutil==6.0.0
psycopg2==2.9.7
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
PyAudio==0.2.12
pycodestyle==2.8.0
pycparser==2.21
pydantic==2.7.4
pydantic_core==2.18.4
pydub==0.25.1
pygame==2.6.0
Pygments==2.16.1
pylint==2.12.2
pyloudnorm==0.1.1
pyparsing==3.1.2
PyPDF2==3.0.1
PySocks==1.7.1
pystoi==0.4.1
pytest==8.3.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.9.1
python-json-logger==2.0.7
python-multipart==0.0.9
python-osc==1.8.3
python-socketio==5.11.4
pytz==2024.1
pyusb==1.2.1
PyYAML==6.0.1
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
randomname==0.2.1
redis==5.0.1
referencing==0.35.1
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.1
s3transfer==0.6.2
scikit-learn==1.5.0
scipy==1.13.1
selenium==4.16.0
semantic-version==2.10.0
Send2Trash==1.8.3
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.37.2
sympy==1.12.1
tbb==2021.13.0
tdqm==0.0.1
tensorboard==2.17.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.3.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.3.1
torch-stoi==0.2.1
torchaudio==2.3.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.13.0
trio==0.23.2
trio-websocket==0.11.1
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.8.0
tzdata==2023.3
ujson==5.10.0
uri-template==1.3.0
urllib3==1.26.16
usb==0.0.83.dev0
uvicorn==0.30.1
vine==5.1.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
watchfiles==0.22.0
wcwidth==0.2.9
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.1
whitenoise==6.5.0
widgetsnbextension==4.0.11
wrapt==1.13.3
wsproto==1.2.0
yapecs==0.0.8
yarl==1.9.3
zipp==3.17.0
