{%extends "layout.html"%}

{% block main %}
<div class="form-div">
    <h1>GET ARTISTS BASED ON GENRE AND POPULARITY</h1>
    <h2>USAGE: Type the name of one genre. Set popularity value or Amount.
    </h2>
    <form method="post" action="/get-artists" class="form">
        <input class="input-artists" type="text" name="genre" placeholder="Genre Names">
        <label> Above variable % popularity
            <input class="input-artists" type="number" name="popularity-val" value="5">
        </label>
        <label> Max Amount
            <input class="input-artists" type="number" name="limit" placeholder="0-1000" max="1000"
                title="Amount of artists to compile.">
        </label>
        <button type="button" class="submit-btn-artists">COMPILE</button>
    </form>
</div>

<div class="artist-names-area">
    <p class="artist-names"></p>
</div>
<div class="data-div-artists">
    {% if data %}
    <!-- {%for artist in data%}
    <div class="track-card">
        <h2>{{artist.name}}</h2>
        <p>Popularity: {{artist.popularity}}</p>
    </div>
    {%endfor%} -->
    {%else%}
    <p class="no-artists">No artists to display</p>
    {%endif%}
</div>


{% endblock %}