{%extends "layout.html"%}

{% block main %}
<div class="form-div">
    <form method="post" action="/">
        <input type="text" name="artist_names" placeholder="Artist Names">
        <button type="submit">COMPILE</button>
    </form>
</div>

<div class="data-div">
    {% if data %}
    {%for track in data%}
    <div class="track-card">
        <h2>{{track[0]}}</h2>
        {%for key, value in track[1].items()%}
        <p>{{key}}: {{value}}</p>
        {%endfor%}
    </div>
    {%endfor%}
    {%else%}
    <p>No data to display</p>
    {%endif%}
</div>
{% endblock %}