{%extends "layout.html"%}

{% block main %}
<div class="form-div">
    <h2>USAGE: Type the name of artists, separated by a comma and space. Depending on artists catalog, could take a long
        time.<br />Example: Louis Pino,
        Aardwolf
    </h2>
    <form method="post" action="/">
        <input type="text" name="artist_names" placeholder="Artist Names">
        <label> Above variable % danceability
            <input type="checkbox" name="dancey">
            <input type="number" name="dancey-val">
        </label>
        <button type="submit">COMPILE</button>
    </form>
</div>

<div class="data-div">
    {% if data %}
    <form action="/download-csv" method="POST">
        <button>DOWNLOAD CSV</button>
        <input type="hidden" name="name" value="Aardwolf">
        <input type="hidden" name="data" value="{{ data }}">
    </form>
    {%for track in data%}
    <div class="track-card">
        <h2>{{track.title}}</h2>
        {% for key, value in track.items() %}
        <p>{{key}}: {{value}}</p>
        {%endfor%}
    </div>
    {%endfor%}
    {%else%}
    <p>No data to display</p>
    {%endif%}
</div>
{% endblock %}