<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <title>Corpus Generator</title>
</head>

<body>
    <header>
        <a href="/">GET TRACKS</a>
        <a href="/get-artists">GET ARTISTS</a>
    </header>
    <main>
        <h2 class="loading-text">LOADING, Do not navigate away from this
            page! Depending on the size of your request, this may take several minutes.</h2>
        {% block main %}{% endblock %}
        <!-- <btn class="test-btn">TEST FETCH</btn> -->
    </main>

    <footer>
        Made in Flask by Louis Pino 2024
    </footer>

</body>

<script>
    function generateArtistCard(name, popularity) {
        return `<div class="track-card"> <h2>${name}</h2><p>Popularity: ${popularity}</p></div>`
    }
    function generateTrackCard(name, popularity) {
        return `<div class="track-card"> <h2>${name}</h2><p>Popularity: ${popularity}</p></div>`
    }

    const artistSubmitEl = document.querySelector(".submit-btn-artists")
    const tracksSubmitEl = document.querySelector(".submit-btn-tracks")
    const loadingEl = document.querySelector(".loading-text")
    const mainEl = document.querySelector("main")
    const artistsEl = document.querySelector(".data-div-artists")
    const tracksEl = document.querySelector(".data-div")
    const testBtnEl = document.querySelector(".test-btn")
    const noArtistsEl = document.querySelector(".no-artists")
    const inputElsArtists = document.querySelectorAll(".input-artists")
    const inputElsTracks = document.querySelectorAll(".input-tracks")
    const namesEl = document.querySelector(".artist-names")

    document.addEventListener("DOMContentLoaded", () => {
        var socket = io.connect('http://' + document.domain + ':' + location.port);


        // Send request to get artists
        socket.on('connect', () => {
            console.log('Connected to the server');
        });

        socket.on("complete", (msg) => {
            loadingEl.textContent = "Retrieval Complete!"
        })

        console.log(tracksSubmitEl)
        tracksSubmitEl?.addEventListener("click", (e) => {
            e.preventDefault()
            let data = {}
            for (el of inputElsTracks) {
                data[el.name] = el.value
            }
            console.log(data)
            socket.emit('get_tracks', data);
            loadingEl.style.visibility = "visible"
            loadingEl.style.position = "relative"
            loadingEl.textContent = "LOADING, Do not navigate away from this page! Depending on the size of your request, this may take several minutes."
        })

        artistSubmitEl?.addEventListener("click", (e) => {
            e.preventDefault()
            artistsEl.innerHTML = ""
            socket.emit('get_artists', {
                genre: inputEls[0].value,
                'popularity-val': inputEls[1].value,
                limit: inputEls[2].value
            });
            loadingEl.style.visibility = "visible"
            loadingEl.style.position = "relative"
            loadingEl.textContent = "LOADING, Do not navigate away from this page! Depending on the size of your request, this may take several minutes."
        })



        function sendSocketTracks() {
            cosnsole.log(socket)
        }


        // Listen for artist data from backend
        socket.on('artists', (msg) => {
            if (noArtistsEl) {
                noArtistsEl.remove()
            }
            artistsEl.innerHTML += generateArtistCard(msg.data.name, msg.data.popularity)
            namesEl.textContent += msg.data.name + ", "

        });
    });
</script>

</html>